/*
* {
  margin: 0;
}

p {
  color: blue;
  font-size: 2rem;
  margin: 4px;
  border: solid thin black;
  text-align: center;
} */

.conteiner{
  width: 500px;
  height: 500px;
  background-color: rgb(153, 119, 75);
  display: flex;
}

.items {
  border: black;
}